services:
  Carousel:
    container_name: Carousel_dev
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: python -m carousel --debug
    restart: unless-stopped
    user: root
    privileged: true
    devices:
      - /dev/gpiomem:/dev/gpiomem
      - /dev/mem:/dev/mem
      - /dev/gpiochip0:/dev/gpiochip0
      - /dev/spidev0.0:/dev/spidev0.0
      - /dev/spidev0.1:/dev/spidev0.1
    volumes:
      - /sys:/sys
      - /sys/class/gpio:/sys/class/gpio
      # Persistent app data
      - ./configs:/app/configs
      - ./logs:/app/logs
    network_mode: host