services:
  carousel:
    container_name: carousel_dev
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: python src --debug
    restart: unless-stopped
    user: root
    privileged: true
    devices:
      - /dev/mem:/dev/mem
      - /dev/gpiomem:/dev/gpiomem
      - /dev/gpiochip0:/dev/gpiochip0
    volumes:
      - ../configs:/app/configs
      - ../logs:/app/logs
    network_mode: host