name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set build metadata
        id: meta
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "platforms=linux/amd64,linux/arm64" >> $GITHUB_OUTPUT
            echo "tags=ghcr.io/morgankryze/carousel:stable,ghcr.io/morgankryze/carousel:latest" >> $GITHUB_OUTPUT
          else
            echo "platforms=linux/arm64" >> $GITHUB_OUTPUT
            echo "tags=ghcr.io/morgankryze/carousel:unstable,ghcr.io/morgankryze/carousel:dev" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile
          platforms: ${{ steps.meta.outputs.platforms }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            VERSION=${{ github.ref_name }}
            BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')